<header class="head">
  <div class="container">
    <h3 routerLink="/" class="name">{{appTitle}}</h3>
    <ul class="nav_links">
      <li><a mat-button routerLink="/advertisements">Advertisements</a></li>
      <li><a *ngIf="!loginService.isLoggedIn()" mat-button routerLink="/sign-in">Sign in</a></li>
      <li *ngIf="loginService.isLoggedIn()">
        <button mat-button [matMenuTriggerFor]="menu">Hello, {{username()}}!</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/profile">Profile</a>
          <button (click)="logout()"  mat-menu-item>logout</button>
        </mat-menu></li>
    </ul>
  </div>
</header>
