<form class="example-card">
<mat-card>
<p>Creating a new account</p>

<form class="example-form" [formGroup]='userForm'>
  <mat-form-field>
    <input type="text" matInput placeholder="First name" formControlName='fName' required>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Last name" formControlName='lName' required>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Login (username)" formControlName='login' required>
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName='password' required>
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Verify Password" formControlName='verifyPassword' [errorStateMatcher]="errorMatcher" required>
    <mat-error *ngIf="userForm.hasError('passwordsDoNotMatch')">
      Passwords do not match!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Email" formControlName='email' required>
  </mat-form-field>

    <mat-form-field>
    <input type="text" matInput placeholder="Phone" formControlName='phone' required>
  </mat-form-field>

</form>

<form (click) ="getValues()">
  <div style="text-align: center;">
    <button mat-button>Sign Up</button>
</div>
</form>

</mat-card>
</form>
