
  <mat-card class="form-card">

    <form [formGroup]="formGroup" (ngSubmit)="getValues()">
    <p>Creating a new account</p>

    <mat-form-field>
      <input type="text" matInput placeholder="First name" formControlName = "fNameF" required>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Last name" formControlName = "lNameF" required>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Login (username)" formControlName = "loginF" required>
      <mat-error *ngIf="formGroup.get('loginF').invalid">{{getLoginErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName = "passwordF" minlength="6" required>
      <mat-error>Password must be six characters or longer</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Email" formControlName = "emailF" required>
      <mat-error *ngIf="formGroup.get('emailF').invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <span matPrefix>+7 &nbsp;</span>
      <input type="text" matInput placeholder="Phone" formControlName = "phoneF" required>
      <mat-error *ngIf="formGroup.get('phoneF').invalid">{{getPhoneErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="submitButton">
      <button type="submit" mat-raised-button [disabled]="isClicked">Sign Up</button>
    </div>
    </form>
  </mat-card>
